<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.michaldobrowolski.popularmoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".ui.MovieDetailsActivity"
            android:label="@string/action_details"
            android:parentActivityName=".ui.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>
        <!-- STEP: 3 -->
        <provider
            android:name="pl.michaldobrowolski.popularmoviesapp.data.TaskContentProvider"
            android:authorities="pl.michaldobrowolski.popularmoviesapp"
            android:exported="false"/>
    </application>

</manifest>